In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/2020/DATA Annalytics/Project Velo Lib/bikes.csv')
data.head()

   status contract_name  ...        lat     lng
0  CLOSED     Santander  ...  43.461719 -3.8021
1  CLOSED     Santander  ...  43.461719 -3.8021
2  CLOSED     Santander  ...  43.461719 -3.8021
3  CLOSED     Santander  ...  43.461719 -3.8021
4  CLOSED     Santander  ...  43.461719 -3.8021

[5 rows x 13 columns]

In [ ]:
data["last_update_datetime"] = pd.to_datetime(data["last_update"], unit='ms')
data["time"] = data['last_update_datetime'].map(lambda x: x.strftime('%H'))
data=data.sort_values(['last_update'])
# data = data.groupby(by=['name'])
# data.loc["last_update"].plot()

In [ ]:
data =pd.DataFrame(data,columns=['name','bike_stands','time','available_bike_stands','available_bikes'])
data.dtypes

name                     object
bike_stands               int64
time                     object
available_bike_stands     int64
available_bikes           int64
dtype: object

In [ ]:
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
data['name']=le.fit_transform(data['name'])
data['available_bike_stands'][data['available_bike_stands'] > 0] = 1
data['available_bikes'][data['available_bikes'] > 0] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
data.loc[ data['available_bike_stands'] > 0 , 'available_bike_stands'] = 1
data.loc[ data['available_bikes'] > 0 , 'available_bikes'] = 1

In [ ]:
X = data.groupby(by=data['available_bike_stands'])
X = X.get_group(0)
X

        name  bike_stands time  available_bike_stands  available_bikes
362580    10           25   16                      0                1
362581    10           25   16                      0                1
362582    10           25   16                      0                1
362583    10           25   16                      0                1
362584    10           25   16                      0                1
...      ...          ...  ...                    ...              ...
145359     3           20   10                      0                1
145360     3           20   11                      0                1
145361     3           20   11                      0                1
145362     3           20   11                      0                1
145363     3           20   11                      0                1

[7887 rows x 5 columns]

In [ ]:
X=data[['name','bike_stands','time','available_bikes']]
y=data['available_bike_stands']

In [ ]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)  # 70% training and 30% test

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

#Create Gradient Boosting Classifier
gradient_model = GradientBoostingClassifier()

#Train the model using the training sets
gradient_model.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gradient_model.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9866164571777518

In [ ]:
gradient_model.score(X_test, y_test)

0.9866164571777518

In [ ]:
# y=gb.predict_proba([['2370','1','1','16','0']])
# yy=gb.predict([['2370','1','1','16','0']])
# print(y,"\t",yy)

# x=gb.predict_proba([['1581','1','1','16','0']])
# xx=gb.predict([['1581','1','1','16','0']])
# print(x,"\t",xx)

In [ ]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)